body{
    background-color: #00ffff;
    display: flex;
    justify-content: center;
}
button{
    background-color:lemonchiffon;
    font-size: 20px;
    border-radius: 10px;
    height: 10vh;
    width: 10vh;
}

button:hover{
    background-color: white;
}